<!DOCTYPE html>
<html>
  <head>
    <title>Whoops! There was an error.</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./_header %>

    <div class="error__div">
      <h1><%= status %></h1>
      <h2><%= message %></h2>
    </div>

  </body>
</html>
