<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include ./_header %>

    <form class="movie__form" action="/movie" method="POST">
      <h1><%= title %></h1>
      <div class="input__group">
        <input type="text" placeholder="Hello" name="title" />
        <label>Movie Name</label>
      </div>
      <div class="input__group">
        <input type="number" placeholder="Hello" name="year" />
        <label>Movie Year</label>
      </div>
      <div class="input__group">
        <input type="text" placeholder="Hello" name="imdb" />
        <label>IMDB ID</label>
      </div>
      <button class="submit">Submit</button>
    </form>
  </body>
</html>
