<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./_header %>

    <% if(!movies.length) { %>
      <h2>Sorry, there are no movies to view. <a href="/create" class="add__review">Add a review</>.</h2>
    <% } else { %>
      <div>
        <h2 class="full__flex">Movies</h2>
        <div class="movie__list">
          <% movies.forEach(movie => { %>
            <div class="movie__card">
              <h2><%= movie.title %></h2>
              <p><%= movie.year %></p>
              <a href="http://www.imdb.com/title/<%= movie.imdb %>" target="_blank" class="imdb__button">View</a>
            </div>
          <% }) %>
        </div>
      </div>
    <% } %>
  </body>
</html>
