@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  background: rgba(255,85,255,0.333) f;
  margin: 0;
  padding: 0;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}
.movie__form {
  width: 500px;
  padding: 40px;
  background: #fff;
  box-shadow: 0 2px 5px #ccc;
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
}
h1 {
  margin-bottom: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.input__group {
  position: relative;
  padding-top: 20px;
  margin-bottom: 50px;
}
.input__group input {
  width: 100%;
  position: absolute;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 10px 0;
  top: 0;
  transition: 0.2s ease-in-out;
  font-size: 1rem;
}
.input__group input:focus + label,
.input__group input:not(:placeholder-shown) + label {
  top: -15px;
  color: #2bbbad;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}
.input__group input:focus {
  outline: none;
}
.input__group label {
  text-transform: uppercase;
  color: #999;
  position: absolute;
  top: 9px;
  pointer-events: none;
  font-size: 0.9rem;
  transition: 0.12s ease-in-out;
}
::-webkit-input-placeholder {
  color: transparent;
}
::-moz-placeholder {
  color: transparent;
}
:-ms-input-placeholder {
  color: transparent;
}
:-moz-placeholder {
  color: transparent;
}
.submit {
  color: #fff;
  background: #2bbbad;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.8rem;
  border: 1px solid #2bbbad;
  padding: 15px 20px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
.submit:hover {
  background: #3dd3c4;
}
.movie__list {
  display: flex;
  width: calc(100vw - 30px);
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}
.movie__card {
  margin: 30px;
  background: #fff;
  box-shadow: 0 2px 5px #ccc;
  padding: 40px 20px;
  text-align: center;
}
@media screen and (min-width: 1201px) {
  .movie__card {
    width: calc(25% - 50px);
  }
  .movie__card:nth-child(4n+1) {
    margin-left: 0;
  }
  .movie__card:nth-child(4n+4) {
    margin-right: 0;
  }
}
@media screen and (max-width: 1200px) and (min-width: 901px) {
  .movie__card {
    width: calc(33% - 50px);
  }
  .movie__card:nth-child(3n+1) {
    margin-left: 0;
  }
  .movie__card:nth-child(3n+3) {
    margin-right: 0;
  }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
  .movie__card {
    width: calc(50% - 50px);
  }
  .movie__card:nth-child(2n+1) {
    margin-left: 0;
  }
  .movie__card:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media screen and (max-width: 599px) and (min-width: 1px) {
  .movie__card {
    width: calc(100% - 30px);
    margin-left: 0;
    margin-right: 0;
  }
}
.movie__card h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 0;
}
.movie__card p {
  color: #999;
  font-size: 1.8rem;
  letter-spacing: 10px;
  margin: 18px 0;
}
.movie__card .imdb__button {
  color: #fff;
  background: #2bbbad;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.8rem;
  border: 1px solid #2bbbad;
  padding: 15px 30px;
  text-align: center;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  display: inline-block;
}
.movie__card .imdb__button:hover {
  background: #3dd3c4;
}
.full__flex {
  width: 100%;
  flex: 100%;
  font-size: 5rem;
  margin-bottom: 0;
}
header {
  background: #202020;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: flex;
  align-items: center;
}
header .nav__item {
  flex: 1;
  display: flex;
}
header .nav__item.create {
  justify-content: flex-end;
}
.go__home {
  padding: 12px 18px;
  transition: 0.2s ease-in-out;
}
.go__home:hover {
  background: rgba(255,255,255,0.1);
}
.create__button {
  background: #2bbbad;
  padding: 12px 18px;
  align-self: flex-end;
  transition: 0.2s ease-in-out;
}
.create__button:hover {
  background: #3dd3c4;
}
.add__review {
  color: #2bbbad;
  transition: 0.2s ease-in-out;
}
.add__review:hover {
  color: #3dd3c4;
}
.error__div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error__div h1 {
  font-size: 8rem;
  margin: 0;
}
.error__div h2 {
  color: rgba(153,153,153,0.7);
  font-size: 1.8rem;
  letter-spacing: 10px;
  text-transform: uppercase;
}
input[type=number]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
  -webkit-rtl-ordering: none;
}
